body{
    margin: 0;
    background-color: #bfbfbf;
}
.container{
    margin: auto;
    margin-top: 70px;
    background-color: #ffffff80;
    width: 1000px;
    height: 500px;
    border-radius: 45px;
    background-image: url(./image/Pokeball.svg) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 400px;

}
.img-pokedex{
    width: 430px;
}
.container .img-pokedex{
    margin-left: 30%;
    margin-top: 10px;
}
#formularioEntrada{
    margin-top: 20px;
    margin-left: 30%;
}
#txtEmail, #txtSenha{
    margin-left: 0;
    border-style: none;
    Width: 380px;
    Height: 35px;
    background-color:rgba(196, 196, 196, 0.75);
    border-radius: 10px;
    padding-left: 15px;
    margin-top: 10px;     
}
#formSubmit{
    margin-left: 15%;
    margin-top: 15px; 
    
    border-radius: 10px;
    Width: 180px;
    Height: 44px;
    background-color: #62B957;

}